.button {
  border: 0;
  border-radius: $radius-x1;
  box-shadow: $shadow;
  color: $white;
  font-size: $text-16;
  font-weight: bold;
  padding: $spacing-x2 $spacing-x5 $spacing-x3 $spacing-x5;
  cursor: pointer;

  &--pink {
    background-color: $pink;

    &:hover {
      background-color: $pink-light;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 5px 5px $pink;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--blue {
    background-color: $blue;

    &:hover {
      background-color: $blue-light;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 5px 5px $blue;
    }
  }

  &--green {
    background-color: $green;

    &:hover {
      outline: none;
      background-color: $green-light;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 5px 5px $green;
    }
  }

  &--black {
    background-color: $black;

    &:hover {
      outline: none;
      background-color: $black-light;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 5px 5px $black;
    }
  }

  &--black-light {
    background-color: $black-light;

    &:hover {
      outline: none;
      background-color: $grey-dark-a-80;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 5px 5px $black-light;
    }
  }

  &--new-repair {
    background: $white;
    color: $green;
    border: 2px solid $green;

    &:hover {
      color: $green-light;
      border: 2px solid $green-light;
      background: $white;
    }

    &:focus {
      box-shadow: 0 0 0 2px $white, 0 0 5px 5px $green;
    }
  }
}
