.contact-page__phone-card {
  text-align: center;
  display: inline-block;
  width: $content-width-sm;
  padding: $spacing-x1 $spacing-x5 $spacing-x4 $spacing-x5;
  box-shadow: $shadow;
  // desktop
  margin: $spacing-x5 0;
}
