.contact-page__map {
  width: 100%;
  //margin temporary?
  margin-bottom: 20px;
  box-shadow: $shadow;
  margin-top: $spacing-x10;
  height: 400px;

  // @media (min-width: $screen-md) {
  // }

  @media (min-width: $screen-lg) {
    margin-top: unset;
    height: unset;
  }
}
