.home-page {
  background: no-repeat center url("../../../assets//images/baner-sm.png");
  background-size: cover;
  width: 100%;

  @media (min-width: $screen-md) {
    background: no-repeat center url("../../../assets//images/baner-md.png");
    background-size: cover;
  }

  @media (min-width: $screen-lg) {
    background: no-repeat center url("../../../assets//images/baner-lg.png");
    background-size: cover;
  }

  &__content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }
}
