.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;

  // sizes
  &--sm {
    height: $icon-sm;
    width: $icon-sm;
  }

  &--md {
    height: $icon-md;
    width: $icon-md;
  }

  // colors
  &--white {
    filter:
      invert(100%) sepia(1%) saturate(5855%) hue-rotate(218deg)
      brightness(118%) contrast(91%);
  }

  &--black {
    filter:
      invert(0%) sepia(42%) saturate(4532%) hue-rotate(103deg)
      brightness(100%) contrast(107%);
  }

  &--black-light {
    filter:
      invert(14%) sepia(0%) saturate(1370%) hue-rotate(240deg)
      brightness(88%) contrast(83%);
  }

  // icons
  &--arrow {
    background: url('../../../assets/icons/arrow.svg');
  }

  &--car-big {
    background: url('../../../assets/icons/car-big.svg');
  }

  &--car-medium {
    background: url('../../../assets/icons/car-medium.svg');
  }

  &--car-small {
    background: url('../../../assets/icons/car-small.svg');
  }

  &--car {
    background: url('../../../assets/icons/car.svg');
  }

  &--dropdown-arrow {
    background: url('../../../assets/icons/dropdown-arrow.svg');
  }

  &--email {
    background: url('../../../assets/icons/email.svg');
  }

  &--fb {
    background: url('../../../assets/icons/fb.svg');
  }

  &--flag {
    background: url('../../../assets/icons/flag.svg');
  }

  &--footer-email {
    background: url('../../../assets/icons/footer-email.svg');
  }

  &--footer-phone {
    background: url('../../../assets/icons/footer-phone.svg');
  }

  &--ig {
    background: url('../../../assets/icons/ig.svg');
  }

  &--location {
    background: url('../../../assets/icons/location.svg');
  }

  &--person {
    background: url('../../../assets/icons/person.svg');
  }

  &--phone {
    background: url('../../../assets/icons/phone.svg');
  }

  &--tooltip {
    background: url('../../../assets/icons/tooltip.svg');
  }

  &--tt {
    background: url('../../../assets/icons/tt.svg');
  }
}
