.input {
  font-size: $text-16;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid $pink;
  padding: $spacing-x1 0;
  display: block;
  width: 100%;

  .checkbox {
    vertical-align: middle;
  }

  &--centered-label {
    display: block;
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  &--file {
    width: 100%;
  }

  &--file::-webkit-file-upload-button {
    visibility: hidden;
  }

  &--file::before {
    content: "Załącz pliki";
    display: block;
    text-align: center;
    background: $black-light;
    border-radius: 5px;
    padding: $spacing-x1 $spacing-x3;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: $text-16;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  &--file:hover::before {
    background-color: $grey-dark-a-80;
  }

  &--home-page {
    margin: 15px 5px 25px 5px;
  }

  &--outlined {
    padding: $spacing-x2;
    border-bottom: none;
    border: 1px solid $black-light;
    border-radius: 5px;
    background: none;
    display: block;
    margin-bottom: $spacing-x1;
    width: 100%;

    &__label {
      color: $green;
      font-size: $text-12;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      bottom: -8px;
      left: $spacing-x2;
      background: $white;
      padding: 0 $spacing-x1;

      &--other {
        bottom: -7px;
      }
    }
  }
}

.text-area {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $text-16;
  resize: none;
  width: 100%;
  height: 100px;

  &--contact {
    margin-bottom: $spacing-x3;
  }
}
