.input {
  font-size: $text-16;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid $pink;
  padding: $spacing-x1 0;
  display: block;
  width: 100%;

  &--centered-label {
    display: block;
    text-align: center;
  }

  &:focus {
    outline: none;
  }

  &--file {
    width: 100%;
  }

  &--file::-webkit-file-upload-button {
    visibility: hidden;
  }

  &--file::before {
    content: "Załącz pliki";
    display: block;
    text-align: center;
    background: $black-light;
    border-radius: 5px;
    padding: $spacing-x1 $spacing-x3;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: $text-16;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  &--file:hover::before {
    background-color: $grey-dark-a-80;
  }

  &--home-page {
    margin: 15px 5px 25px 5px;
  }

  &--outlined {
    padding: $spacing-x2;
    border-bottom: none;
    border: 1px solid $black-light;
    border-radius: 5px;
    background: none;
    display: block;
    margin-bottom: $spacing-x1;
    width: 100%;

    &--car-size {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: $spacing-x3;
      margin-bottom: 0;
    }

    &__label {
      color: $green;
      font-size: $text-12;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      bottom: -8px;
      left: $spacing-x2;
      background: $white;
      padding: 0 $spacing-x1;

      &--other {
        bottom: -7px;
      }
    }
  }
}

.text-area {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $text-16;
  resize: none;
  width: 100%;
  height: 100px;

  &--contact {
    margin-bottom: $spacing-x3;
  }
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: $spacing-x1;

  &--car-size {
    display: inline-block;
  }

  &__control {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $black;
    transform: translateY(-0.05em);
  }

  &__input {
    display: flex;
    align-items: center;

    &--car-size {
      input {
        margin: 0;
        opacity: 0;
        height: 25px;
        width: 60px;
        position: absolute;
        z-index: 100;

        @media (min-width: 768px) {
          height: 30px;
          width: 70px;
        }
      }

      &--md {
        input {
          height: 25px;
          width: 80px;

          @media (min-width: 768px) {
            height: 30px;
            width: 90px;
          }
        }
      }

      &--lg {
        input {
          height: 35px;
          width: 80px;

          @media (min-width: 768px) {
            height: 40px;
            width: 90px;
          }
        }
      }
    }

    input {
      margin: 0;
      opacity: 0;
      width: 120px;
      height: 20px;
      position: absolute;
      z-index: 100;

      &:checked + .radio__control {
        background: radial-gradient($green 45%, $white 10%);
      }
    }
  }
}

input[type="checkbox"].checkbox {
  transform: scale(1.25);
  margin: 0;

  &--green {
    filter: hue-rotate(315deg) saturate(70%);

    &:hover {
      filter: hue-rotate(315deg) brightness(160%);
    }
  }

  &--pink {
    filter: hue-rotate(126deg) saturate(36%);

    &:hover {
      filter: hue-rotate(119deg) saturate(100%);
    }
  }

  &--blue {
    filter: hue-rotate(338deg) saturate(45%);

    &:hover {
      filter: hue-rotate(338deg) brightness(140%);
    }
  }
}
