.input {
  font-size: $text-16;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  padding: $spacing-x1 0;
  display: block;
  width: 100%;
  outline: none;

  &--font-light {
    color: $white-dark;

    &::placeholder {
      color: $white-a-60;
    }
  }

  &--font-dark {
    color: $black;

    &::placeholder {
      color: $grey-dark-a-80;
    }
  }

  &--border-green {
    border-color: $green;

    &:focus {
      border-color: $green-light;
    }
  }

  &--border-blue {
    border-color: $blue;

    &:focus {
      border-color: $blue-light;
    }
  }

  &--border-pink {
    border-color: $pink;

    &:focus {
      border-color: $pink-light;
    }
  }

  &--border-black {
    border-color: $black;

    &:focus {
      border-color: $black-light;
    }
  }

  &--border-black-light {
    border-color: $black-light;

    &:focus {
      border-color: $grey-dark-a-80;
    }
  }

  &--outlined {
    padding: $spacing-x2;
    border-bottom: none;
    border: 1px solid $black-light;
    border-radius: 5px;
    background: none;
    display: block;
    margin-bottom: $spacing-x1;
    width: 100%;

    &::placeholder {
      color: $grey-dark-a-80;
      opacity: 1;
    }

    &:focus-within {
      outline: none;
      border-radius: 5px;
      box-shadow: 0 0 0 2px $green;
    }

    // to be repair
    &--car-size {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: $spacing-x3;
      margin-bottom: 0;
    }

    &__label {
      color: $black-light;
      font-size: $text-12;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      bottom: -7px;
      left: $spacing-x2;
      background: $white;
      padding: 0 $spacing-x1;

      &--green {
        color: $green;
      }

      &--blue {
        color: $blue;
      }

      &--pink {
        color: $pink;
      }
    }
  }

  &--centered-label {
    display: block;
    text-align: center;
  }

  &--file {
    width: 100%;

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &:focus-within {
      outline: none;
      border-radius: 5px;
      box-shadow: 0 0 0 2px $green;
    }

    &::before {
      content: "Załącz pliki";
      display: block;
      text-align: center;
      background: $black-light;
      border-radius: 5px;
      padding: $spacing-x1 $spacing-x3;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      color: $white;
      font-weight: bold;
      font-size: $text-16;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }

    &:hover::before {
      background-color: $grey-dark-a-80;
    }
  }
}

.text-area {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: $text-16;
  resize: none;
  width: 100%;

  &--new-repair-page {
    height: 100px;
    margin-bottom: $spacing-x3;

    &:focus {
      outline: none;
      border-radius: 5px;
      box-shadow: 0 0 0 2px $green;
    }
  }

  &--contact-page {
    height: 50px;
    margin-bottom: $spacing-x2;
    border: 2px solid $pink;
    padding: $spacing-x1;

    &:focus {
      outline: none;
      // box-shadow: 0 0 0 2px $pink;
      border: 2px solid $pink-light;
    }
  }
}

.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: $spacing-x1;

  &:focus-within {
    border: 3px solid $green;
    border-radius: 5px;
  }

  &--car-size {
    display: inline-block;

    &:focus-within {
      border-radius: 5px;
      padding: $spacing-x1;
      height: 60px;
      border: 3px solid $green;
    }
  }

  &__control {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $black;
    transform: translateY(-0.05em);
  }

  &__input {
    display: flex;
    align-items: center;

    &--car-size {
      input {
        margin: 0;
        opacity: 0;
        height: 25px;
        width: 60px;
        position: absolute;
        z-index: 100;
        cursor: pointer;

        @media (min-width: 768px) {
          height: 30px;
          width: 70px;
        }
      }

      &--md {
        input {
          height: 25px;
          width: 80px;

          @media (min-width: 768px) {
            height: 30px;
            width: 90px;
          }
        }
      }

      &--lg {
        input {
          height: 35px;
          width: 80px;

          @media (min-width: 768px) {
            height: 40px;
            width: 90px;
          }
        }
      }
    }

    input {
      margin: 0;
      opacity: 0;
      width: 120px;
      height: 20px;
      position: absolute;
      z-index: 100;
      cursor: pointer;

      &:checked + .radio__control {
        background: radial-gradient($green 45%, $white 10%);
      }
    }
  }
}

.checkbox {
  transform: scale(1.25);
  margin: 0;
  cursor: pointer;

  &--green {
    filter: hue-rotate(315deg) saturate(70%);

    &:hover {
      filter: hue-rotate(315deg) brightness(160%);
    }
  }

  &--pink {
    filter: hue-rotate(126deg) saturate(36%);

    &:hover {
      filter: hue-rotate(119deg) saturate(100%);
    }
  }

  &--blue {
    filter: hue-rotate(338deg) saturate(45%);

    &:hover {
      filter: hue-rotate(338deg) brightness(140%);
    }
  }
}
