.navbar-menu {
  display: flex;
  flex-direction: column;
  height: 0;
  border-top: 4px solid transparent;
  overflow: hidden;
  width: 100vw;
  transition: height ease-in-out 0.6s, border-color ease-in-out 0.6s;

  @media (min-width: $screen-lg) {
    border: none;
    flex-direction: row;
    height: auto;
    margin-top: 0;
    width: auto;
  }

  &--close {
    margin-top: 0;
  }

  &--open {
    border-color: $black-light;
    height: 295px;

    @media (min-width: $screen-lg) {
      border-top: unset;
      transition: none;
    }
  }

  &__item {
    transition: text-shadow 0.3s;

    @media (min-width: $screen-lg) {
      margin: 0 0 0 $spacing-x3;
    }

    &:first-child {
      margin-top: 10px;

      @media (min-width: $screen-lg) {
        margin-top: 0;
      }
    }

    &::after {
      border-radius: 5px;
      content: "";
      display: block;
      height: 4px;
      transition: background-color 0.3s ease-in-out;
    }

    &:hover {
      text-shadow: 0 0 0.9px $black-light, 0 0 0.9px $black-light;

      &::after {
        background: $pink-light;
      }
    }
  }

  &__link {
    display: block;
    padding: $spacing-x2 0;
  }
}
