.navbar {
  background-color: $white;
  color: $black-light;
  font-size: $text-16;
  position: absolute;
  width: 100%;
  z-index: 1000;

  @media (min-width: $screen-lg) {
    position: static;
    align-items: center;
    flex-direction: row;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    height: $logo-sm-y;
    width: $logo-sm-x;
    margin: $spacing-x3 0;

    @media (min-width: $screen-md) {
      height: $logo-md-y;
      width: $logo-md-x;
    }

    @media (min-width: $screen-lg) {
      height: $logo-lg-y;
      width: $logo-lg-x;
      margin: $spacing-x4 0;
    }
  }
}
