.navbar-toggler {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  width: 30px;

  @media (min-width: $screen-lg) {
    display: none;
  }

  &__bar {
    background: $black-light;
    height: 4px;
    border-radius: 1px;
  }
}
