$spacing: 5px;

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: $spacing * $i;
  }

  .mx-#{$i} {
    margin: 0 $spacing * $i;
  }

  .my-#{$i} {
    margin: $spacing * $i 0;
  }

  .mt-#{$i} {
    margin-top: $spacing * $i;
  }

  .mr-#{$i} {
    margin-right: $spacing * $i;
  }

  .mb-#{$i} {
    margin-bottom: $spacing * $i;
  }

  .ml-#{$i} {
    margin-left: $spacing * $i;
  }
}

.text {
  &--white {
    color: $white;
  }

  &--white-a-60 {
    color: $white-a-60;
  }

  &--white-a-80 {
    color: $white-a-80;
  }

  &--white-dark {
    color: $white-dark;
  }

  &--blue {
    color: $blue;
  }

  &--pink {
    color: $pink;
  }

  &--green {
    color: $green;
  }

  &--black {
    color: $black;
  }

  &--black-light {
    color: $black-light;
  }
}

.w-100 {
  display: inline-block;
  width: 100%;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) .input--file:focus-within {
  outline: none;
  box-shadow: unset;
}

body:not(.user-is-tabbing) .radio:focus-within,
body:not(.user-is-tabbing) .radio--car-size:focus-within {
  border: unset;
  padding: unset;
  height: unset;
}
