$spacing-x1: 5px;
$spacing-x2: 10px;
$spacing-x3: 15px;
$spacing-x4: 20px;
$spacing-x5: 25px;
$spacing-x6: 30px;
$spacing-x7: 35px;
$spacing-x8: 40px;
$spacing-x9: 45px;
$spacing-x10: 50px;

$icon-sm: 24px;
$icon-md: 48px;
$icon-lg: 48px;

$blue: #006180;
$green: #008377;
$pink: #6f0032;
$pink-light: #d70061;

$black: #000;
$black-light: #303030;

$grey: #b3b3b3;
$grey-light: #e5e5e5;
$grey-dark-a-80: #2b2b2bcc;

$white: #fff;
$white-a-60: #fff9;
$white-a-80: #fffc;
$white-dark: #f4f4f4;

$content-width-sm: 290px;
$content-width-md: 728px;
$content-width-lg: 1300px;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1366px;
