@import "./reset";
@import "./variables";
@import "./utils";
@import "./text";
@import "./icon";
@import "./logo";
@import "./Input";
@import "./Button";
@import "./Navbar";
@import "./NavbarMenu";
@import "./NavbarToggler";
@import "./Footer";
@import "./HomePage";
@import "./HomePageForm";
@import "./NewRepair";
@import "./NewRepairCalculatorCard";
@import "./AboutUsPage/AboutUsPage";
@import "./AboutUsPage/CardWithImage";
@import "./AboutUsPage/CardWithText";
@import "./GalleryPage/GalleryPage";
@import "./GalleryPage/Carousel";
@import "./GalleryPage/Gallery";
@import "./ContactPage/ContactPage";
@import "./ContactPage/Card";
@import "./ContactPage/Map";

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;

  // margin-top: 2 * $spacing-x3 + $logo-sm-y;
  // @media (min-width: $screen-md) {
  //   margin-top: 2 * $spacing-x3 + $logo-md-y;
  // }
  // @media (min-width: $screen-lg) {
  //   margin-top: $spacing-x4;
  // }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: $content-width-sm;

  @media (min-width: $screen-md) {
    width: $content-width-md;
  }

  @media (min-width: $screen-lg) {
    width: $content-width-lg;
  }
}
