@import "./reset";
@import "./variables";
@import "./utils";
@import "./text";
@import "./icon";
@import "./logo";
@import "./Input";
@import "./Select";
@import "./Button";
@import "./Navbar";
@import "./NavbarMenu";
@import "./NavbarToggler";
@import "./Footer";
@import "./HomePage/HomePage";
@import "./NewRepairPage/NewRepairPage";
@import "./NewRepairPage/CalculatorCard";
@import "./AboutUsPage/AboutUsPage";
@import "./AboutUsPage/CardWithImage";
@import "./AboutUsPage/CardWithText";
@import "./GalleryPage/GalleryPage";
@import "./GalleryPage/Carousel";
@import "./GalleryPage/Gallery";
@import "./CheckStatusForm";
@import "./RepairStatusPage/RepairStatusPage";
@import "./RepairStatusPage/Card";
@import "./RepairStatusPage/Axis";
@import "./ContactPage/ContactPage";
@import "./ContactPage/Card";
@import "./ContactPage/Map";

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.root-background {
  background:
    no-repeat center 2 * $spacing-x3 + $logo-sm-y
    url("../../../assets//images/baner-md.png");
  background-size: cover;

  @media (min-width: $screen-md) {
    background:
      no-repeat center 2 * $spacing-x3 + $logo-md-y
      url("../../../assets//images/baner-md.png");
    background-size: cover;
  }

  @media (min-width: $screen-lg) {
    background:
      no-repeat center 2 * $spacing-x4 + $logo-lg-y
      url("../../../assets//images/baner-lg.png");
    background-size: cover;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: $content-width-sm;

  @media (min-width: $screen-md) {
    width: $content-width-md;
  }

  @media (min-width: $screen-lg) {
    width: $content-width-lg;
  }
}

.content {
  flex: 1;
  display: flex;
  padding-top: 2 * $spacing-x3 + $logo-sm-y + 25;
  padding-bottom: $spacing-x5;

  @media (min-width: $screen-md) {
    padding-top: 2 * $spacing-x3 + $logo-md-y + 25;
    padding-bottom: $spacing-x5;
  }

  @media (min-width: $screen-lg) {
    padding: $spacing-x5 0;
  }
}
