@import "./reset";
@import "./variables";
@import "./utils";
@import "./text";
@import "./icon";
@import "./logo";
@import "./Footer";
@import "./Navbar";
@import "./HomePageForm";
@import "./HomePage";
@import "./NewRepair";
@import "./ContactPage";
@import "./ContactPageAddressCard";
@import "./ContactPagePhoneCard";
@import "./ContactPageEmailCard";
@import "./ContactPageMap";
@import "./Button";
@import "./Input";
@import "./NavbarMenu";
@import "./NavbarToggler";
@import "./NewRepairCalculatorCard";

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
}

.container {
  // margin: auto; - breakes vertical positioning, works fine with l/r auto
  // margin: 0 auto; - disables my margin setting from _NewRepair.scss
  margin-left: auto;
  margin-right: auto;
  width: $content-width-sm;

  @media (min-width: $screen-md) {
    width: $content-width-md;
  }

  @media (min-width: $screen-lg) {
    width: $content-width-lg;
  }
}
