.card-with-image {
  height: 420px;
  box-shadow: $shadow;
  border-radius: $radius-x1;
  width: 290px;
  margin-bottom: $spacing-x5;

  @media (min-width: $screen-md) {
    width: 310px;
  }

  &__image {
    height: 150px;
    width: 100%;
    display: block;
  }

  &__heading {
    text-align: center;
    margin: $spacing-x5 0 $spacing-x4 0;
  }

  &__text {
    margin: 0 $spacing-x3;
    text-align: left;
  }
}
