.arrow-icon {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block;

  // size
  &--gallery-arrow {
    height: $icon-arrow-sm-y;
    width: $icon-arrow-sm-x;

    @media (min-width: $screen-md) {
      height: $icon-arrow-md-y;
      width: $icon-arrow-md-x;
    }
  }

  // colors
  &--green {
    filter:
      invert(34%) sepia(98%) saturate(638%) hue-rotate(133deg)
      brightness(91%) contrast(101%);
  }

  &--green-light {
    filter:
      invert(51%) sepia(61%) saturate(3210%) hue-rotate(141deg)
      brightness(98%) contrast(101%);
  }

  &--blue {
    filter:
      invert(25%) sepia(13%) saturate(7308%) hue-rotate(166deg)
      brightness(103%) contrast(101%);
  }

  &--blue-light {
    filter:
      invert(35%) sepia(100%) saturate(840%) hue-rotate(160deg)
      brightness(97%) contrast(101%);
  }

  &--pink {
    filter:
      invert(9%) sepia(40%) saturate(6586%) hue-rotate(313deg)
      brightness(99%) contrast(125%);
  }

  &--pink-light {
    filter:
      invert(15%) sepia(65%) saturate(6982%) hue-rotate(324deg)
      brightness(82%) contrast(107%);
  }

  // icon
  &--arrow {
    background: url("../../../../../assets/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}
