.icon {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  display: inline-block;

  // sizes
  &--sm {
    height: $icon-sm;
    width: $icon-sm;
  }

  &--md {
    height: $icon-md;
    width: $icon-md;
  }

  &--lg {
    height: $icon-lg;
    width: $icon-lg;
  }

  &--gallery-arrow {
    height: $icon-arrow-sm-y;
    width: $icon-arrow-sm-x;

    @media (min-width: $screen-md) {
      height: $icon-arrow-md-y;
      width: $icon-arrow-md-x;
    }
  }

  // colors
  &--white {
    filter:
      invert(100%) sepia(1%) saturate(5855%) hue-rotate(218deg)
      brightness(118%) contrast(91%);
  }

  &--white-dark {
    filter:
      invert(99%) sepia(3%) saturate(89%) hue-rotate(57deg)
      brightness(114%) contrast(91%);
  }

  &--grey {
    filter:
      invert(78%) sepia(0%) saturate(21%) hue-rotate(151deg)
      brightness(95%) contrast(84%);
  }

  &--black {
    filter:
      invert(0%) sepia(42%) saturate(4532%) hue-rotate(103deg)
      brightness(100%) contrast(107%);
  }

  &--black-light {
    filter:
      invert(14%) sepia(0%) saturate(1370%) hue-rotate(240deg)
      brightness(88%) contrast(83%);
  }

  &--green {
    filter:
      invert(34%) sepia(98%) saturate(638%) hue-rotate(133deg)
      brightness(91%) contrast(101%);
  }

  &--green-light {
    filter:
      invert(51%) sepia(61%) saturate(3210%) hue-rotate(141deg)
      brightness(98%) contrast(101%);
  }

  &--blue {
    filter:
      invert(25%) sepia(13%) saturate(7308%) hue-rotate(166deg)
      brightness(103%) contrast(101%);
  }

  &--blue-light {
    filter:
      invert(35%) sepia(100%) saturate(840%) hue-rotate(160deg)
      brightness(97%) contrast(101%);
  }

  &--pink {
    filter:
      invert(9%) sepia(40%) saturate(6586%) hue-rotate(313deg)
      brightness(99%) contrast(125%);
  }

  &--pink-light {
    filter:
      invert(15%) sepia(65%) saturate(6982%) hue-rotate(324deg)
      brightness(82%) contrast(107%);
  }

  // icons
  &--arrow {
    background: url("../../../../../assets/icons/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  &--car {
    background: url("../../../../../assets/icons/car.svg");
  }

  &--dropdown-arrow {
    background: url("../../../../../assets/icons/dropdown-arrow.svg");
  }

  &--email {
    background: url("../../../../../assets/icons/email.svg");
  }

  &--fb {
    background: url("../../../../../assets/icons/fb.svg");
  }

  &--flag {
    background: url("../../../../../assets/icons/flag.svg");
  }

  &--footer-email {
    background: url("../../../../../assets/icons/footer-email.svg");
  }

  &--footer-phone {
    background: url("../../../../../assets/icons/footer-phone.svg");
  }

  &--ig {
    background: url("../../../../../assets/icons/ig.svg");
  }

  &--location {
    background: url("../../../../../assets/icons/location.svg");
  }

  &--person {
    background: url("../../../../../assets/icons/person.svg");
  }

  &--phone {
    background: url("../../../../../assets/icons/phone.svg");
  }

  &--tt {
    background: url("../../../../../assets/icons/tt.svg");
  }
}
