.navbar-toggler {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  width: 30px;

  @media (min-width: $screen-lg) {
    display: none;
  }

  &__bar {
    background: $black;
    height: 4px;
    border-radius: 1px;
    width: 100%;
    transition: all $animation-short ease-in-out !important;
  }

  &:hover > div {
    background: $pink-light;
    transition: background-color $animation-short ease-in-out;
  }

  &--close {
    height: 30px;

    .navbar-toggler__bar {
      &:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
      }
    }
  }
}
