.card {
  grid-column: 3;
  margin-left: $spacing-x3;
  width: 100%;
  max-width: 280px;
  border-radius: $radius-x1;
  box-shadow: $shadow;
  align-self: start;
  padding: $spacing-x2;
  text-align: center;

  &--inactive {
    background-color: $white;
    color: $grey;
  }

  &__image {
    height: 50px;
    width: 50px;
  }

  &__heading {
    text-align: center;
    margin-bottom: $spacing-x3;
  }

  &__text {
    text-align: left;
    font-family: "Open Sans" Arial, Helvetica, sans-serif;
  }

  @media (min-width: $screen-md) {
    margin-left: 0;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    transform: translateX(calc(50% + 27.5px));
    justify-self: end;
    grid-row: 3;
    grid-column: auto;
  }

  &--first {
    @media (min-width: $screen-md) {
      transform: none;
      justify-self: end;
      grid-column: 1;
      grid-row: 1;
    }

    @media (min-width: $screen-lg) {
      align-self: end;
      justify-self: start;
      grid-row: 1;
    }
  }

  &--last {
    transform: translateY(calc(-100% + 55px));

    @media (min-width: $screen-md) {
      justify-self: end;
      grid-column: 1;
      grid-row: 5;
    }

    @media (min-width: $screen-lg) {
      transform: none;
      align-self: end;
      grid-column: span 4 / 6;
      grid-row: 1;
    }
  }
}

.toggler {
  width: 25px;
  height: 25px;
  border: 1px solid #b3b3b3;
  border-radius: 100%;
  background-color: transparent;
  margin-top: $spacing-x3;
  transform: rotate(90deg);
  background-image: url("../../../../assets/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &--toggled {
    transform: rotate(-90deg);
  }
}

.image {
  &--left {
    transform: scaleX(-1) translateX(-5px);
  }

  &--right {
    transform: translateX(-5px);
  }
}
