.card {
  grid-column: 3;
  margin-left: $spacing-x3;
  width: 100%;
  max-width: 280px;
  border-radius: $radius-x1;
  box-shadow: $shadow;
  align-self: start;
  padding: $spacing-x2;
  text-align: center;

  &__heading {
    text-align: center;
    margin-bottom: $spacing-x3;
  }

  &__text {
    text-align: left;
    font-family: "Open Sans" Arial, Helvetica, sans-serif;
  }

  &__button {
    margin-top: $spacing-x3;
  }

  @media (min-width: $screen-md) {
    margin-left: 0;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    transform: translateX(calc(50% + 27.5px));
    justify-self: end;
    grid-row: 3;
    grid-column: auto;
  }

  &--first {
    @media (min-width: $screen-md) {
      transform: none;
      justify-self: end;
      grid-column: 1;
      grid-row: 1;
    }

    @media (min-width: $screen-lg) {
      align-self: end;
      justify-self: start;
      grid-row: 1;
    }
  }

  &--last {
    transform: translateY(calc(-100% + 55px));

    @media (min-width: $screen-md) {
      justify-self: end;
      grid-column: 1;
      grid-row: 5;
    }

    @media (min-width: $screen-lg) {
      transform: none;
      align-self: end;
      grid-column: span 4 / 6;
      grid-row: 1;
    }
  }
}
