.board-page {
  height: 100vh;
  width: 100vw;
  display: flex;

  &__board {
    flex: 1;
  }
}

.nav {
  width: 300px;
  background-color: $black-light;
  padding: $spacing-x3 0;
  font-size: $text-20;

  &--hidden {
    width: 44px;
    overflow: hidden;
  }
}

.menu {
  &__item {
    color: $white;
    padding: $spacing-x2 $spacing-x2;
    margin-bottom: $spacing-x1;
  }

  &__link {
    display: inline-flex;
    align-items: center;
  }

  &__toggler {
    transform: rotate(180deg);
  }
}
