.menu {
  min-width: 300px;
  max-width: 300px;
  transition:
    max-width $animation-short ease-in-out,
    min-width $animation-short ease-in-out;

  &--hidden {
    min-width: 44px;
    max-width: 44px;
  }

  &__link {
    display: flex;
    height: 44px;
    align-items: center;
    padding: $spacing-x2 $spacing-x2;
    margin-bottom: $spacing-x1;
    overflow: hidden;
    color: $white;
  }
}
