.checkbox {
  transform: scale(1.25);
  margin: 0;
  cursor: pointer;

  &--green {
    filter: hue-rotate(315deg) saturate(70%);

    &:hover {
      filter: hue-rotate(315deg) brightness(160%);
    }
  }

  &--pink {
    filter: hue-rotate(126deg) saturate(36%);

    &:hover {
      filter: hue-rotate(119deg) saturate(100%);
    }
  }

  &--blue {
    filter: hue-rotate(338deg) saturate(45%);

    &:hover {
      filter: hue-rotate(338deg) brightness(140%);
    }
  }
}
