.file {
  width: 100%;

  &__label {
    display: block;

    &--centered {
      text-align: center;
    }
  }

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:focus-within {
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 0 2px $green;
  }

  &::before {
    content: "Załącz pliki";
    display: block;
    text-align: center;
    background: $black-light;
    border-radius: 5px;
    padding: $spacing-x1 $spacing-x3;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: $text-16;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  &:hover::before {
    background-color: $grey-dark-a-80;
  }
}
