.input {
  font-size: $text-16;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  padding: $spacing-x1 0;
  display: block;
  width: 100%;
  outline: none;

  &--font-light {
    color: $white-dark;

    &::placeholder {
      color: $white-a-60;
    }
  }

  &--font-dark {
    color: $black;

    &::placeholder {
      color: $grey-dark-a-80;
    }
  }

  &--border-green {
    border-color: $green;

    &:focus {
      border-color: $green-light;
    }
  }

  &--border-blue {
    border-color: $blue;

    &:focus {
      border-color: $blue-light;
    }
  }

  &--border-pink {
    border-color: $pink;

    &:focus {
      border-color: $pink-light;
    }
  }

  &--border-black {
    border-color: $black;

    &:focus {
      border-color: $black-light;
    }
  }

  &--border-black-light {
    border-color: $black-light;

    &:focus {
      border-color: $grey-dark-a-80;
    }
  }

  &--outlined {
    padding: $spacing-x2;
    border-bottom: none;
    border: 1px solid $black-light;
    border-radius: 5px;
    background: none;
    display: block;
    margin-bottom: $spacing-x1;
    width: 100%;

    &:focus-within {
      outline: none;
      border-radius: 5px;
      box-shadow: 0 0 0 2px $green;
    }

    &--car-size {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: $spacing-x3;
      margin-bottom: 0;
    }

    &__label {
      color: $black-light;
      font-size: $text-12;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      bottom: -7px;
      left: $spacing-x2;
      background: $white;
      padding: 0 $spacing-x1;

      &--green {
        color: $green;
      }

      &--blue {
        color: $blue;
      }

      &--pink {
        color: $pink;
      }
    }
  }
}
