.menu {
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  transition:
    max-width $animation-short ease-in-out,
    min-width $animation-short ease-in-out;

  @media (min-width: $screen-md) {
    min-width: 300px;
    max-width: 300px;
  }

  &--hidden {
    min-width: 0;
    max-width: 0;

    @media (min-width: $screen-md) {
      min-width: 44px;
      max-width: 44px;
    }
  }

  &__link {
    display: flex;
    height: 44px;
    align-items: center;
    padding: $spacing-x2 $spacing-x2;
    margin-bottom: $spacing-x1;
    color: $white;
    white-space: nowrap;

    &--active {
      background: #555555bf;
    }
  }
}
