.gallery-page__carousel {
  display: flex;
  text-align: center;
  font-weight: bold;
  color: $pink;
  justify-content: space-between;
  margin-bottom: $spacing-x3;
  //temp margin
  margin-top: 80px;

  @media (min-width: $screen-md) {
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    font-size: $text-24;
    //temp margin
    margin-top: 90px;
  }

  @media (min-width: $screen-lg) {
    width: 860px;
    //temp margin
    margin-top: 25px;
  }

  &__arrows-container {
    display: inline-block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    &--left {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  &__toggler-container {
    height: 8px;
    display: flex;
    justify-content: center;
  }

  &__toggler-switch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__toggler {
    width: 45px;
    height: 8px;
    cursor: pointer;
    border: none;
    background-color: $grey;

    &:hover {
      background-color: $grey-light;
    }

    @media (min-width: $screen-md) {
      width: 70px;
    }

    @media (min-width: $screen-md) {
      width: 75px;
    }

    &--on {
      background-color: $pink;

      &:hover {
        background-color: $pink-light;
      }
    }
  }
}
