.gallery-page__carousel {
  display: flex;
  text-align: center;
  font-weight: bold;
  color: $pink;
  justify-content: space-between;
  margin-bottom: $spacing-x3;
  //temp margin
  margin-top: 80px;

  @media (min-width: $screen-md) {
    justify-content: center;
    font-size: $text-24;
    //temp margin
    margin-top: 90px;
  }

  @media (min-width: $screen-lg) {
    //temp margin
    margin-top: 25px;
  }

  &__arrows-container {
    display: inline-block;

    &--left {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  &__toggler-container {
    height: 8px;
    display: flex;
    justify-content: center;
  }

  &__toggler-switch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      margin: 0 $spacing-x14;
    }

    @media (min-width: $screen-lg) {
      margin: 0 240px;
    }
  }

  &__toggler {
    width: 45px;
    height: 8px;

    @media (min-width: $screen-md) {
      width: 70px;
    }

    @media (min-width: $screen-md) {
      width: 75px;
    }

    &--on {
      background-color: $pink;
    }

    &--off {
      background-color: $grey;
    }
  }
}
