.button {
  border: 0;
  border-radius: $radius-x1;
  color: $white;
  font-size: $text-16;
  font-weight: bold;
  padding: $spacing-x2 0 $spacing-x3 0;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  width: 108px;
  height: 43px;

  &--secondary {
    background: $white;
    color: $black-light;
    border: 2px solid $black-light;
  }

  &--blue {
    &-primary {
      background-color: $blue;

      &:hover {
        background-color: $blue-light;
      }

      &:focus {
        @include create-box-shadow($blue);
      }
    }

    &-secondary {
      color: $blue;
      border-color: $blue;

      &:hover {
        color: $blue-light;
        border-color: $blue-light;
      }

      &:focus {
        @include create-box-shadow($blue);
      }
    }
  }

  &--green {
    &-primary {
      background-color: $green;

      &:hover {
        outline: none;
        background-color: $green-light;
      }

      &:focus {
        @include create-box-shadow($green);
      }
    }

    &-secondary {
      color: $green;
      border-color: $green;

      &:hover {
        color: $green-light;
        border-color: $green-light;
      }

      &:focus {
        @include create-box-shadow($green);
      }
    }
  }

  &--pink {
    &-primary {
      background-color: $pink;

      &:hover {
        background-color: $pink-light;
      }

      &:focus {
        @include create-box-shadow($pink);
      }
    }

    &-secondary {
      color: $pink;
      border-color: $pink;

      &:hover {
        color: $pink-light;
        border-color: $pink-light;
      }

      &:focus {
        @include create-box-shadow($pink);
      }
    }
  }

  &--black {
    &-primary {
      background-color: $black;

      &:hover {
        outline: none;
        background-color: $black-light;
      }

      &:focus {
        @include create-box-shadow($black);
      }
    }
  }

  &--black-light {
    &-primary {
      background-color: $black-light;

      &:hover {
        outline: none;
        background-color: $grey-dark-a-80;
      }

      &:focus {
        @include create-box-shadow($black-light);
      }
    }
  }

  &--grey {
    &-primary {
      background-color: $grey;

      &:hover {
        outline: none;
        background-color: $grey-light;
      }

      &:focus {
        @include create-box-shadow($grey);
      }
    }

    &-secondary {
      color: $grey;
      border-color: $grey;

      &:hover {
        color: $grey-light;
        border-color: $grey-light;
      }

      &:focus {
        @include create-box-shadow($grey);
      }
    }
  }

  &--grey-dark {
    &-primary {
      background-color: $grey-dark;

      &:hover {
        outline: none;
        background-color: $grey-light;
      }

      &:focus {
        @include create-box-shadow($grey-dark);
      }
    }

    &-secondary {
      color: $grey-dark;
      border-color: $grey-dark;

      &:hover {
        color: $grey;
        border-color: $grey;
      }

      &:focus {
        @include create-box-shadow($grey-dark);
      }
    }
  }

  &__throbber {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff6;
    height: 100%;
    border-radius: $radius-x1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    width: 15px;
    height: 15px;
    animation: spin 0.6s infinite linear;
    border-top: 3px solid $white;
    border-radius: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
