@import "./reset";
@import "./variables";
@import "./text";
@import "./utils";
@import "./components";

.container {
  margin-left: auto;
  margin-right: auto;
  width: $content-width-sm;

  @media (min-width: $screen-md) {
    width: $content-width-md;
  }

  @media (min-width: $screen-lg) {
    width: $content-width-lg;
  }
}
